<div>

  <header>
    <div class="header-bg">
      <div class="container row m-auto d-flex justify-content-sm-around">

        <div class=" col-4 justify-content-md-start ">
          <img class="logo" src="../assets/new-logo.png" alt="logo-steko">
        </div>

        <div class="col-6 justify-content-md-end d-sm-flex d-md-none d-lg-none">
          <nav class="navbar navbar-light ">
            <button (click)='showMenu()' class="navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
        </div>
        <div class="navbar-menu" *ngIf="isDisplay">
          <div class="p-3 menu">
            <img class="logo2" src="../assets/new-logo.png" alt="logo-steko">

          </div>
          <div class="menu-list">
            <ul>
              <li><a href="#">Завод Steko</a></li>
              <li><a href="#">Салони Steko</a></li>
              <li><a href="#">Продукція</a></li>
              <li><a href="#">Купити вікна</a></li>
              <li><a href="#">Для дилерів</a></li>
              <li><a href="#">Для клієнтів</a></li>
              <li><a href="#">Контакти</a></li>
            </ul>
          </div>
        </div>

        <!-- numbers -->

        <div class="col-8 d-none d-md-flex d-lg-flex justify-content-md-end">

          <div class="d-flex align-items-center ">
            <div>
              <img src="../assets/icons/phone.svg" alt="call">
            </div>
            <div class='numbers '>
              <div>+38 (012) 34-56-789</div>
              <div>+38 (012) 34-56-789</div>
            </div>
          </div>

          <div class="d-md-none d-lg-flex header-buttons align-items-center ">
            <button>стати дилером</button>
            <button>заказати вікна online</button>
          </div>
        </div>

      </div>

    </div>

    <!-- nav -->
    <div class="header-nav-bg d-none d-md-flex d-lg-flex">

      <div class="container  d-flex justify-content-between ">
        <div class="navi d-flex align-items-center">
          <div><a href="#">Завод стеко</a></div>
          <div><a href="#">Продукція</a></div>
          <div><a href="#">Купити вікна</a></div>
          <div><a href="#">Контакти</a></div>
          <div><a href="#">Салони стеко</a></div>
        </div>

        <div class="d-none d-lg-flex auth  align-items-center">
          <div class="mr-3">
            <img src="../assets/icons/enter.svg" alt="enter">
            <a href="#">Для клієнтів</a>
          </div>
          <div>
            <img src="../assets/icons/enter.svg" alt="enter">
            <a href="#">Для дилерів</a>
          </div>
        </div>

      </div>
    </div>

  </header>

  <div class="container">
    <div style="padding: 10px;">
    </div>
    <owl-carousel [options]="SlideOptions" [items]="Images" [carouselClasses]="['owl-theme', 'sliding', 'owl-loaded']">
      <div *ngFor="let img of Images">
        <div class="h-auto">
          <img src={{img}} />
        </div>
      </div>
    </owl-carousel>
  </div>

  <!-- buttons parth 1 -->
  <div class="container ">

    <div class=" d-flex flex-wrap row justify-content-center   p-2">
      <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 '>
        Виклик замірника</button>
      <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 '>
        заказати дзвінок</button>
      <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 buy'>
        де купити</button>
    </div>
  </div>

  <!-- section 2 -->
  <div class="container m-auto">
    <div class="title">
      <h5>НЕМОЖЛИВО УЯВИТИ ДІМ БЕЗ ВІКОН</h5>
    </div>

    <!-- section dir -->

    <div class="d-flex  row mt-4 justify-content-around ">

      <div class=" col-sm-12 col-md-6 col-lg-6">
        <!-- <div class="block-dir">
          <span>Сергій Положай</span>
          <br>
          <span>Засновник і Генеральний директор компанії Steko</span>
        </div> -->
        <div>
          <img class="w-100" src="../assets/dir.png" alt="dir">
          <p class="mt-4">Бажаємо щоб задоволення від користування вікнами <strong>Steko</strong> ще довго тривало після
            гарантійного
            терміну.</p>
        </div>

      </div>

      <div class=" col-sm-12 col-md-6 col-lg-6">
        <div class="mt-5">
          <p>Вже більше 14 років компанія <strong>Steko</strong> успішно працює в Україні та є найбільшим виробником
            металопластикових
            вікон.
            <br>
            <br>
            Щодня <strong>Steko</strong> виготовляє понад 5000 вікон, створює нове якісне унікальне вікно саме для тебе!
          </p>
        </div>
        <div class="mt-5 ">
          <p class="p-4 border">Місія компанії <strong>Steko</strong> - виробляти енергоефективні вікна, двері, фасади
            та ролети
            міжнародного стандарту
            якості, щоб у
            кожному будинку було світло, тепло, комфортно і затишно!</p>
        </div>
      </div>
    </div>

  </div>

  <!-- section 3 -->
  <div class="container ">
    <div class="title">
      <h5>ПЕРЕВАГИ STEKO</h5>
    </div>

    <div class='row m-auto'>
      <div class=' d-flex justify-content-around flex-wrap'>
        <div class='box'>
          <img src="../assets/skills/25.png" alt="">
          <span>Steko - 25% всіх вікон України</span>
        </div>
        <div class='box'>
          <img src="../assets/skills/3000.png" alt="">
          <span>Доставка по всій Україні</span>
        </div>
        <div class='box'>
          <img class=" mt-5" src="../assets/skills/5000.png" alt="">
          <span>Більше 5000 конструкцій на добу</span>
        </div>
        <div class='box'>
          <img src="../assets/skills/dalivery_ukraine.png" alt="">
          <span>Виробництво повного циклу</span>
        </div>
      </div>
      <div class=' d-flex align-items-center justify-content-around flex-wrap'>
        <div class='box'>
          <img src="../assets/skills/garantija.png" alt="">
          <span>Європейський сертифікат якості</span>
        </div>
        <div class='box'>
          <img src="../assets/skills/3000.png" alt="">
          <span>Більше 5000 конструкцій на добу</span>
        </div>
        <div class='box'>
          <img src="../assets/skills/manufacturer.png" alt="">
          <span>Більше 3000 точок продажів по Україні</span>
        </div>
        <div class='box'>
          <img src="../assets/skills/manufacturer.png" alt="">
          <span>Міжнародний сертифікат ISO 14001</span>
        </div>
      </div>

    </div>

  </div>

  <!-- section feedback -->
  <div class="section-4-main-feed">
    <div class="container">
      <div class="title">
        <h5>ЗВ'ЯЖІТЬСЯ З НАМИ</h5>
      </div>

      <div class=" d-flex flex-wrap row justify-content-center   p-2">
        <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 '>виклик замірника</button>
        <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 '>заказати дзвінок</button>
        <button type="button" class='col-md-3 col-lg-3 w-100 btn1 m-1 buy'>де купити</button>
      </div>
    </div>

  </div>

  <!-- section 4 feedback -->
  <div class="container m-auto">

    <div class="d-flex row justify-content-sm-center">
      <div class="block  col-sm-12  col-md-6 col-lg-3 col-xl-3">
        <div class="line">
          <span>Партнери</span>
        </div>
        <div class='d-flex flex-column-sm '>
          <div>
            <img class="img" src="../assets/partners/aluplast.png" alt="aluplast">
            <img class="img" src="../assets/partners/ado.png" alt="ado">
            <img class="img" src="../assets/partners/AXOR-01.png" alt="AXOR">
          </div>
          <div>
            <img class="img" src="../assets/partners/logo_ALUTECH-01.png" alt="ALUTECH">
            <img class="img" src="../assets/partners/Maco.png" alt="Maco">
            <img class="img" src="../assets/partners/Pilkington_logo-01.png" alt="Pilkington">
          </div>

        </div>

      </div>
      <div class="block col-sm-12  col-md-6 col-lg-3 col-xl-3">
        <div class="line">
          <span>Купити вікна</span>
        </div>
        <ul>
          <li>Купити вікна Online</li>
          <li>Як вибрати вікно?</li>
          <li>Дилери Steko в областях України</li>
        </ul>

        <div class="line">
          <span>Продукція</span>
        </div>
        <ul>
          <li>Металопластикові вікна</li>
          <li> Металопластикові двері </li>
          <li> Алюмінієві ролети </li>
          <li> Алюмінієві ворота </li>
          <li> Алюмінієві фасади </li>
        </ul>
      </div>
      <div class="block  col-sm-12  col-md-6 col-lg-3  col-xl-3">
        <div class="line">
          <span>Контакти</span>
        </div>
        <ul>
          <li>м. Дніпро, вул. Артельна, 11</li>
          <li>м. Дніпро, вул. Любарського, 98</li>
          <li>м. Львів, смт. Надічи</li>
          <li>вул. Грушевського, 3Б</li>
          <li>mail@steko.com.ua</li>
          <li>(050) 050-55-00</li>
          <li>+38 (067) 631-45-33</li>
        </ul>
      </div>
      <div class="block  col-sm-12  col-md-6 col-lg-3  col-xl-3">
        <div>
          <img src="../assets/new-logo.png" alt="new-logo" class="new-logo">
        </div>
        <div class="social-icon">
          <div>
            <img src="../assets/icons/ins.svg" alt="instagram">
          </div>
          <div>
            <img src="../assets/icons/fb.svg" alt="facebook">
          </div>
          <div>
            <img src="../assets/icons/linke.svg" alt="linkedin">
          </div>
          <div>
            <img src="../assets/icons/youtube.svg" alt="youtube">
          </div>
        </div>
        <div class="line">
          <span>Додатково</span>
        </div>

        <ul>
          <li>Умови використання сайту</li>
          <li>Політика конфіденційності</li>
          <li>Карта сайту</li>
        </ul>
      </div>

    </div>
  </div>

  <footer>
    <div>Copyright © 2018. Металопластикові вікна - компанія Steko. Всі права захищені.</div>
  </footer>

</div>